<div>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{base_url}}admin">Home</a>
            </li>
            <li class="active">Applicants</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                All Applicants
            </h1>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">

                    <div class="widget-header with-footer">
                        <span class="widget-caption">
                            <a href="{{base_url}}admin/applicants/expired-reservations" ng-show="(url_status == 'Reserved')" class="btn btn-xs btn-danger">See all expired reservations...</a>
                        
                            <a href="{{base_url}}admin/applicants/add" ng-show="(user.user_type == 7)" class="btn btn-xs btn-default"><i class="fa fa-plus"></i> Add Applicant</a>
                            &nbsp;
                            <a href="" ng-click="applicantShowImgFunct()" class="btn-show-photo btn btn-xs btn-info">Show photos</a>
                        </span>
                        <div class="widget-buttons hidden">
                            <a href="" ng-click="show_advce_search()">
                                <i class="fa fa-search"></i> Advanced search
                            </a>  
                        </div> &nbsp;&nbsp;
                    </div>

                    <div class="widget-body">
                        <div class="row advanced-search" ng-show="showAdvanceSearch">
                            <div class="col-sm-12">
                                <div class="form-title">
                                    <strong>Advanced Search</strong>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Search keyword</label>
                                    <input type="text" ng-model="keyword" class="form-control input-sm" placeholder="Keywords">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Country:</label> 
                                    <select ng-model="search_country" class="form-control input-sm">
                                        <option value="0">All</option>
                                        <option value="{{country.country_id}}" ng-repeat="country in countries">{{country.country_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Applicant Position Type:</label> 
                                    <select ng-model="applicant_position_type" class="form-control input-sm">
                                        <option value="null">Both</option>
                                        <option value="Household">Household</option>
                                        <option value="Skilled">Skilled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Position</label> 
                                    <select class="form-control input-sm" ng-model="search_position">
                                        <option value="0">-- Select position --</option>
                                        <option value="{{position.position_id}}" ng-repeat="position in positions">{{position.position_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employer</label> 
                                    <select class="form-control input-sm" ng-model="search_employer">
                                        <option value="0">-- Select Employer --</option>
                                        <option value="{{employer.employer_id}}" ng-repeat="employer in employers">{{employer.employer_name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Status</label> 
                                    <select class="form-control input-sm" ng-model="search_status">
                                        <option value="111">-- Select Status --</option>
                                        <option value="10">For Review</option>
                                        <option value="0">Available</option>
                                        <option value="4">Selected</option>
                                        <option value="5">Line Up</option>
                                        <option value="8">For Deployment</option>
                                        <option value="9">Deployed</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <span class="col-sm-6">
                                <label>Date applied</label>
                                <span class="input-group ">
                                    <input ng-model="search_date_from" type="date" data-date-format="yyyy-mm-dd" class="form-control input-sm date-picker" placeholder="yyyy-mm-dd">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <span class="input-group-addon">to</span>
                                    <input ng-model="search_date_to" type="date" data-date-format="yyyy-mm-dd" class="form-control input-sm date-picker" placeholder="yyyy-mm-dd">
                                </span>
                            </span>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select ng-model="search_gender" class="form-control input-sm">
                                        <option value="any">Any</option>
                                        <option value="Male" >Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-4">
                                <label>Age bracket</label>
                                <div class="input-group ">
                                    <input ng-model="search_age_from" type="text" class="form-control input-sm" placeholder="0">
                                    <span class="input-group-addon">&minus;</span>
                                    <input ng-model="search_age_to" type="text" class="form-control input-sm" placeholder="0">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>Salary range</label>
                                <div class="input-group ">
                                    <input ng-model="search_salary_from" type="text" placeholder="0.00" class="form-control input-sm">
                                    <span class="input-group-addon">&minus;</span>
                                    <input ng-model="search_salary_to" type="text" placeholder="0.00" class="form-control input-sm">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="input-group ">
                                    <br>
                                    <button ng-click="advance_search()" class="btn btn-lg btn-primary"><span class="fa fa-search"></span>Search</button>                            
                                </div>
                                <br><br>
                            </div>
                            <br><br>
                            <hr class="wide">    
                        </div>

                        <h3 class="text-center" ng-show="noresult">-- No Result --</h3>
                        <div class="table-responsive" ng-hide="noresult" style="overflow:scroll; padding-bottom:20px;">
                            <table id="cyd_applicant_list" class="table table-bordered table-hover table-applicants">
                                <thead class="bordered-palegreen">
                                    <tr>
                                        <th>#</th>
                                        <th></th> 
                                        <th>#</th>
                                        <th>Date created</th>
                                        <th>Applicant #</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                        <th>Foreign Principal/Company</th>
                                        <th>Employer</th>
                                        <th>Job Offer</th>
                                        <th>Salary offer</th>
                                        <th>Work Experience</th>
                                        <th>Passport</th>
                                        <th>Preferred position</th>
                                        <th>Sub position</th>
                                        <th>Preferred country</th>
                                        <th>Medical result</th>
                                        <th>NBI</th>
                                        <th>Trade Test</th>
                                        <th>COE</th>
                                        <th>Picture status</th>
                                        <th>School records</th>
                                        <th>Insurance #</th>
                                        <th>Visa</th>
                                        <th>Ticket</th>
                                        <th>OEC #</th>
                                        <th>OWWA certificate</th>
                                        <th>Contract</th>
                                        <th>Remarks</th>
                                        <th>Date applied</th>
                                        <th>Civil status</th>
                                        <th>Source</th>
                                        <th>Last updated by</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="(key, applicant) in applicants.data" ng-show="show_all_applicants" ng-class="applicant.hit_status">
                                    <td>
                                        <div class="checkbox">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="inverted applicants-selection" name="cyd_applicant_select" value="{{applicant.applicant_id}}">
                                                    <span class="text" ng-show="show_line_up_checkbox(applicant.statusText)"></span>
                                                    <h3>
                                                        <i ng-show="hide_line_up_checkbox(applicant.statusText)" class="fa fa-square text-primary" aria-hidden="true"></i>
                                                    </h3>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" href="{{base_url}}admin/applicants/review_single/{{applicant.applicant_id}}" target="_blank" role="button">Review</a>
                                        </br>
                                        <small>{{applicant.applicant_position_type}}</small>
                                        <div ng-show="applicant.showDeny"> 
                                            <br><a href="{{base_url}}deny_hit/{{applicant.applicant_id}}" target="_blank" ng-click="applicant.hit_status = cleared; applicant.showDeny = 0" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Click This if this Applicant is not black listed">Deny Hit</a>
                                        </div>
                                    </td>

                                    <td>
                                        {{applicants.from + key}}
                                    </td>
                                    <td>{{applicant.applicant_created | date : shortTime}}</td>
                                    <td>{{settings.client_short}}-{{str_pad(applicant.applicant_id)}}</td>
                                    <td>
                                        <div class="applicant-photo" align="center">
                                            <img ng-src="{{applicant.image}}" alt="" height="100"/>
                                        </div>
                                        {{applicant.applicant_first}} {{applicant.applicant_middle}} {{applicant.applicant_last}}
                                    </td>
                                    <td>{{applicant.applicant_gender}}</td>
                                    <td>
                                        <span class="label graded {{applicant.statusColors}}">
                                            {{applicant.statusText}}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="applicant.statusText == 'Line Up'" ng-repeat="perEmployer in applicant.multiple_lineup">
                                            {{perEmployer.employer[0].employer_name}}, 
                                        </span>
                                        <span ng-if="applicant.statusText != 'Line Up'">
                                            {{applicant.employer.employer_name}}
                                        </span>
                                    </td>
                                    <td>{{applicant.sub_employer}}</td>
                                    <td>{{applicant.job.job_name}}</td>
                                    <td>{{applicant.applicant_requirement.requirement_offer_salary}}</td>
                                    <td>{{applicant.experience}}</td>
                                    <td>{{applicant.applicant_passport.passport_number}}</td>
                                    <td>{{applicant.position.position_name}}</td>
                                    <td>
                                        <div ng-repeat="subposition in applicant.applicant_preferred_positions">
                                            {{subposition.position.position_name}},
                                        </div>
                                    </td>
                                    <td>{{applicant.country.country_name}}</td>
                                    <td>{{applicant.applicant_certificate.certificate_medical_result}}</td>
                                    <td>
                                        <span ng-show="{{applicant.applicant_certificate.certificate_authenticated_nbi}}" class="text-success"><i class="fa fa-check"></i></span>
                                        <span ng-hide="{{applicant.applicant_certificate.certificate_authenticated_nbi}}" class="text-warning"><i class="fa fa-times"></i></span>
                                    </td>
                                    <td>
                                        <span ng-show="{{applicant.applicant_requirement.requirement_trade_test}}" class="text-success"><i class="fa fa-check"></i></span>
                                        <span ng-hide="{{applicant.applicant_requirement.requirement_trade_test}}" class="text-warning"><i class="fa fa-times"></i></span>
                                    </td>
                                    <td>
                                        <span ng-show="{{applicant.applicant_requirement.requirement_coe}}" class="text-success"><i class="fa fa-check"></i></span>
                                        <span ng-hide="{{applicant.applicant_requirement.requirement_coe}}" class="text-warning"><i class="fa fa-times"></i></span>
                                    </td>
                                    <td>{{applicant.applicant_requirement.requirement_picture_status}}</td>
                                    <td>{{applicant.applicant_requirement.requirement_school_records}}</td>
                                    <td>{{applicant.applicant_certificate.insurance_no}}</td>
                                    <td>
                                        <span ng-show="{{applicant.applicant_requirement.requirement_visa}}" class="text-success"><i class="fa fa-check"></i></span>
                                        <span ng-hide="{{applicant.applicant_requirement.requirement_visa}}" class="text-warning"><i class="fa fa-times"></i></span>
                                    </td>
                                    <td>{{applicant.applicant_requirement.requirement_ticket}}</td>
                                    <td>{{applicant.applicant_requirement.requirement_oec_number}}</td>
                                    <td>{{applicant.applicant_requirement.requirement_owwa_certificate}}</td>
                                    <td>{{applicant.applicant_requirement.requirement_contract | date : 'fullDate'}}</td>
                                    <td>{{applicant.applicant_remarks | limitTo : 100}}...</td>
                                    <td>{{applicant.applicant_date_applied | date : 'fullDate'}}</td>
                                    <td>{{applicant.applicant_civil_status}}</td>
                                    <td>{{applicant.recruitment_agent.agent_first}} {{applicant.recruitment_agent.agent_last}}</td>
                                    <td>{{applicant.user_updated.user_name}}</td>
                                </tr>
                                </tbody>
                            </table> 
                            <div class="text-center text-info dashboardstats-loading" ng-show="show_applicant_loading">
                                <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
                            </div>

                        <div class="clearfix"></div>
                        </div>

                        <div class="footer" align="right">
                        <span class="pull-left">
                        Showing {{applicants.from}} to {{applicants.to}} of {{applicants.total}} entries
                        </span>
                        <ul class="pagination">
                            <li ng-hide="current_page == 1" ng-click="change_page(1)"><a href="#">«</a></li>
                            <li ng-hide="current_page == 1" ng-click="change_page(current_page - 1)"><a href="#">Prev</a></li>
                            <li ng-repeat="page in pages" ng-class="page.class" ng-click="change_page(page.pagenumber)"><a href="" >{{page.pagenumber}}</a></li>
                            <li ng-hide="current_page == applicants.last_page" ng-click="change_page(current_page + 1)"><a href="#">Next</a></li>
                            <li ng-hide="current_page == applicants.last_page" ng-click="change_page(applicants.last_page)"><a href="#">»</a></li>
                        </ul>
                        </div><!-- .table-responsive -->
                        <hr>
                        <h6><strong>Send Applicants To:</strong></h6> 
                        <div class="row">   
                            <div class="input-group">
                                <div class="col-sm-4">
                                    <select id="employers-selection" class="form-control">
                                        <option value="">-- Select Employer --</option>
                                        <option ng-repeat="employer in employers" value="{{employer.employer_id}}">{{employer.employer_name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" id="btn-send-applicant">Send Applicants</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>